{% extends '::base.html.twig' %}
{% block title %} Love from Git {% endblock %}
{% block body %}
    {% for i in 1..count %}
    Hello <strong>{{ name|upper }}</strong> #{{ i }}!
    {% endfor %}
<<<<<<< HEAD
{% endblock %}
=======
    <h2>Event Details</h2>
    {{ event.name }}<br />
    {{ event.location }}

{% endblock %}
>>>>>>> fd582c024fb9e56a0811fd3e598c1009f4397351
